.desktop-item {
  width: min-content;

  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--icon {
    position: relative;

    img:not(.shortcut) {
      max-width: 40px;
      max-height: 40px;
    }

    img.overlay {
      position: absolute;
      inset: 0;
      filter: brightness(50%) sepia(100) saturate(100) hue-rotate(215deg);
      opacity: 0.5;
    }

    .shortcut {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  > p {
    color: #fff;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));

    &.selected {
      filter: none;
      background-color: #245edc;
    }
  }
}
