.desktop {
  height: 100%;

  &-grid {
    height: calc(100% - 31px);

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(80px, auto));
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    flex-wrap: wrap;

    &__frag {
      width: 100%;
      height: auto;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
