.desktop__app {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;

    background: #7a96e0;
    box-shadow: inset -2px 0px 3px #5b5ec5, inset 1px 0px 2px #5b68cd,
      inset 0px -2px 3px #7a93df, inset 0px -12px 6px #82a9e9,
      inset 0px 4px 3px #9db9eb;

    border-radius: 8px 8px 0px 0px;

    cursor: default;

    .title__container {
      min-width: 35%;

      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;

        object-fit: contain;

        pointer-events: none;
      }

      h1 {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0.03rem;
        color: #fff;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .window-handlers {
      display: flex;
      gap: 2px;

      button {
        display: flex;
        align-items: center;

        background: transparent;

        filter: grayscale(0.4);

        img {
          pointer-events: none;
        }
      }
    }
  }

  main {
    height: calc(100% - 31px);

    background: #ece9d8;

    border: 1px solid #4f53bc;
    box-shadow: inset 2px 0px 0px #758cdd, inset -2px -2px 2px #4f53bc;

    overflow: hidden;

    cursor: default;
  }

  &.focused {
    z-index: 99999;
    header {
      background: #0055e5;
      box-shadow: inset -2px 0px 3px #001590, inset 1px 0px 2px #0028c4,
        inset 0px -2px 3px #013ebf, inset 0px -12px 6px #026afe,
        inset 0px 4px 3px #3897ff;

      h1 {
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.6));
      }

      button {
        filter: none;
      }
    }

    main {
      border: 1px solid;
      box-shadow: inset 2px 0px 0px #0732d9, inset -2px -2px 2px #00138c;
    }
  }

  &.transitions {
    transition: all cubic-bezier(1, 0, 0, 1) 0.35s;
  }

  &.minimized {
    display: none !important;
  }
}
