@font-face {
  font-family: "Tahoma";
  src: url("./assets/fonts/Tahoma_8px_Regular.ttf");
}

body {
  margin: 0;
  font-family: "Tahoma", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  height: 100vh;
  background: url("./assets/images/wallpaper.jpg") no-repeat;
  background-size: cover;
}

